@tailwind base;
@tailwind components;
@tailwind utilities;

*>* {
    box-sizing: border-box;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 20vw auto 24vw;
    gap: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }